.verticalScrollWrapper{
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.vHeader{
    background-color: #FAFAFA;
    color: #222;
    height: 100%;
    transform: translateY(-10%);
}

.loading{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 10rem;
}